html, body {
    margin: 0;
    padding: 0;
    height: 100%;

    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: #f41a1a;
    text-align: center;
    padding: 10px 0;
}

main {
    background-color: rgb(17, 0, 255);
    color: white;
    text-align: center;
    width: 100%;
    height: 100vh;
}

#container {
    flex: 1;
    display: flex;
}

#barra {
    background-color: #1fdb0e;
    color: white;
    width: 200px;
    padding: 10px;

}